# Postgres
DB_HOST=localhost
DB_PORT=5433
DB_USER=tasks
DB_PASS=tasks
DB_NAME=tasks
DATABASE_URL=postgres://tasks:tasks@localhost:5433/tasks

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=tasks
MINIO_SECRET_KEY=taskstasks
MINIO_BUCKET=tasks
MINIO_USE_SSL=false

# JWT
JWT_SECRET=tasks-secret-key-change-in-production

# Seed Admin
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=teste123

# App
APP_PORT=8080
